In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('moviereviews.tsv',sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
df.shape

(2000, 2)

In [6]:
#print(df.loc[0,'review'])

In [7]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [8]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [17]:
mystring='hello'
mystringempty ='   '

In [18]:
mystring.isspace()

False

In [19]:
mystringempty.isspace()

True

In [20]:
blanks=[]

for index,label,review in df.itertuples():
        if review.isspace():
            blanks.append(index)

In [21]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [25]:
df.drop(blanks,inplace=True,axis=0)

In [26]:
df.iloc[56:60]

   label                                             review
56   neg  my son and i share a perverse predilection for...
58   neg  how could a g-rated disney film based on meg c...
59   pos  wow ! what a movie . \r\nit's everything a mov...
60   pos  if there's one thing in common about all of ho...

In [27]:
df.shape

(1938, 2)

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X = df['review']
y= df['label']

In [30]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.3,random_state=42)

In [33]:
from sklearn.pipeline import Pipeline

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.svm import LinearSVC

In [35]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()),
                ('clf',LinearSVC())])

In [36]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [37]:
preds = text_clf.predict(X_test)

In [38]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [40]:
print(confusion_matrix(y_test,preds))

[[235  47]
 [ 41 259]]

In [42]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

   micro avg       0.85      0.85      0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [43]:
accuracy_score(y_test,preds)

0.8487972508591065

In [44]:
X_train.shape

(1356,)

In [45]:
X_train

1418    after being hypnotized , a man believes there ...
968     those print and television ads trumpeting that...
510     melvin udall is a heartless man . \r\nhe spend...
1313    with his last two films - shine and snow falli...
285     written by john grisham and robert altman ( as...
1846    bob the happy bastard's quickie review : \r\nt...
372     john boorman's " zardoz " is a goofy cinematic...
1107    carolco pictures and dutch director paul verho...
242     we all know the fate of " child's play , " whi...
569     synopsis : sullen julie james , still haunted ...
1868    based on the relatively unknown ( in compariso...
865     mpaa : not rated ( though i feel it would like...
214      " return to horror high , " wants to be a cou...
1382    in the grand scheme of mel gibson movies , pay...
1562     " spice world " is just one long promotional ...
59      wow ! what a movie . \r\nit's everything a mov...
1597    i have to say it . \r\ntim burton's retelling ...
1860    only a year after the initial release of " scr...
1943    synopsis : a humorless police officer's life c...
377     i rented " brokedown palace " last night blind...
523     one of the sweetest tales to ever be made , it...
1813    that's exactly how long the movie felt to me ....
1118     " i would appreciate it if you didn't do that...
1609    plot : upon the realization that they are fail...
1213    filmmakers will use all manner of tricks to fl...
811     there ? s nothing quite like a gory anime . \r...
1641    these days , we are witnessing the deluge of f...
1152    probably the most popular and praised film of ...
120     available for rental - october 12 , 1999 \r\n1...
1244    okay , bear with me y'all , cause first off i ...
                              ...
987     the calendar year has not even reached its mid...
1251    in 1994 , an insider's look at a scandal-ridde...
399     the 13th warrior reeks so badly of melodrama a...
833      " when it's cold , molecules aren't moving . ...
1483    movie concepts are often pitched to producers ...
1566     " mandingo " has traditionally been seen as o...
357     at the outset of swordfish , john travolta's g...
795     synopsis : a maniac , crazed by virulent micro...
1375    ever since wargames , the first real computer ...
1741    there are movies that pose a question in its f...
132     what is a scary movie anyhow ? \r\nis it a mov...
1743    the first thing you notice about this movie is...
901     capsule : the world will come to an end at mid...
1158    i'm not quite sure how best to go about writin...
1440    some critics , including siskel & ebert , are ...
89      wow , a film without any redeeming qualities w...
1532     " he's back , and it's about time . " \r\nwas...
342     wizards is an animated feature that begins wit...
1276    let me begin by saying that this is easily the...
482     at first glance , three kings looks to be just...
123     hilarious , ultra-low budget comedy from film ...
1694    don't get me wrong -- i tend to appreciate bes...
1077    well , as i check my score card for what i've ...
1781    perhaps it's time for me to say a little about...
1129    synopsis : sonny koufax ( adam sandler ) is a ...
1165    if you're the type of person who goes on the s...
1337    known as the most successful , highest-grossin...
890     whether or not i would be considered a trekker...
1507    mars attacks ! \r\n ( 1996 ) - c : jack nichol...
1161    uncompromising french director robert bresson'...
Name: review, Length: 1356, dtype: object